
@{
    ViewBag.Title = "New";
}

<h2>Add New Actor</h2>

<br/>

<form method="POST" action="/Actor/Create" style="border-radius: 5px; background-color: #f2f2f2; padding: 20px;">
    <div>
        <label style="padding: 12px 12px 12px 0; display: inline-block;">First Name:</label>
        <input type="text" name="ActorFirstName" style="width: 90%; padding: 12px; border: 1px solid #ccc; border-radius: 4px; resize: vertical;"/>
    </div>
    <div>
        <label style="padding: 12px 12px 12px 0; display: inline-block;">Last Name:</label>
        <input type="text" name="ActorLastName" style="width: 90%; padding: 12px; border: 1px solid #ccc; border-radius: 4px; resize: vertical;"/>
    </div>
    <div>
        <input type="submit" value="Add Actor" style="background-color: gray; color: white; padding: 12px 20px; border: none; border-radius: 4px;"/>
    </div>
</form>

<br/>

<div>
    <a href="/Actor/ListAll">Back to Main Page</a>
</div>
