@{
    ViewBag.Title = "Home Page";
}

<div>
    <img src="~/Content/Images/cinema.jpg" alt="cinema hall image" style="width: 100%; height: auto; margin-top: 10px;"  />
</div>

<div class="row">
    <div class="col-md-6">
        <form action="/Actor/ListAll" method="GET" style="border-radius: 5px; padding: 20px; margin:10px; text-align:center;">
            <input type="submit" value="List Actors" style="background-color: orangered; color: white; padding: 12px 20px; border: none; border-radius: 4px;" />
        </form>
    </div>
    <div class="col-md-6">
        <form action="/Movie/New" method="GET" style="border-radius: 5px; padding: 20px; margin: 10px; text-align: center;">
            <input type="submit" value="New Movie" style="background-color: orangered; color: white; padding: 12px 20px; border: none; border-radius: 4px;" />
        </form>
    </div>
</div>